$primary: #2A5885;
$secondary: #99b0c6;

table {
  font-size: 0.9rem;
  table-layout: fixed;
  margin: 20px auto;
  width: 70%;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: small;
}

.text-large {
  font-size: large;
}

.text-bold {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgba(186, 209, 231, 0.57);
}



tr {
  height: 3rem;
}

td, th {
  text-align: center;
  border: 2px solid #ffffff;
}

table,
td,
th {
  border-collapse: collapse;
}

tfoot {
  text-align: center;
}

section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-container {
  overflow-y: auto;
  height: calc(100% - 8rem);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.profile-container {
  justify-content: center;
  justify-items: center;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}


.page-navigator {

  button {

    margin: 0;
    padding: 0.3rem 1rem;
    border: 0;
    border-radius: 0.317rem;
    background-color: $primary;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;

    :hover {
      background-color: rgba(4, 185, 176, 0.41);
    }

    button:hover {
      background-color: rgba(4, 185, 176, 0.41);
    }

  }



  .page-number {
    margin-right: 1rem;
  }

  :first-child {
    margin-left: auto;
  }

  :last-child {
    margin-right: auto;
  }

  button {
    margin: 0 0.1rem;
  }

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


.tinkoffPayRow {
  display:block;
  margin:1%;
  width:160px;
}

@media screen and (max-width: 768px) {

  table {
    width: 96%;
  }
  th {
    word-break: break-word;
  }
}