
$secondary: #CFC0D3;
$primary: #4636bb;

$font-family-sans-serif: 'Montserrat', 'Roboto', sans-serif;

body {
  margin: 0;
  padding: 0;
}


#root {
  height: 100vh;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 1em;
}





.btn-outline-light {
  color: #000000;
  border: none;
}

.btn-outline-light:hover{
  color: $primary;
  border: none;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

@import "../components/LogIn/LogIn";