body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 1em;
}

body {
  overflow: hidden;
}

.login-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .sideBar-col {
    height: fit-content;
    width: 100vw;
  }

  .side-bar-container {
    flex: 0 0 2.1%;
  }
}
@media screen and (min-width: 768px) {
  .sideBar-col {
    flex: 0 0 2.1%;
  }

  .side-bar-container {
    flex: 0 0 2.1%;
    height: fit-content;
  }
}
.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

button {
  margin: 0 0.3rem;
  padding: 0.3rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #2a5885;
  color: #f5f5fd;
  cursor: pointer;
  font-size: 1rem;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

button:hover {
  background-color: #466392;
}

@media screen and (max-width: 768px) {
  .side-bar-container {
    height: 2em;
  }
}
@media screen and (min-width: 768px) {
  .side-bar-container {
    height: 100%;
  }
}
header {
  color: #ffffff;
  display: flex;
  width: calc(100% - 1rem);
  background-color: #2A5885;
  padding: 0 0.5rem;
}
header :nth-child(2) {
  margin-left: auto;
}

table {
  font-size: 0.9rem;
  table-layout: fixed;
  margin: 20px auto;
  width: 70%;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: small;
}

.text-large {
  font-size: large;
}

.text-bold {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgba(186, 209, 231, 0.57);
}

th {
  background-color: rgba(153, 176, 198, 0.51);
}

tr {
  height: 3rem;
}

td, th {
  text-align: center;
  border: 2px solid #ffffff;
}

table,
td,
th {
  border-collapse: collapse;
}

tfoot {
  text-align: center;
}

section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-container {
  overflow-y: auto;
  height: calc(100% - 8rem);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.profile-container {
  justify-content: center;
  justify-items: center;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

.page-navigator button {
  margin: 0;
  padding: 0.3rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: #2A5885;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.page-navigator button :hover {
  background-color: rgba(4, 185, 176, 0.41);
}
.page-navigator button button:hover {
  background-color: rgba(4, 185, 176, 0.41);
}
.page-navigator .page-number {
  margin-right: 1rem;
}
.page-navigator :first-child {
  margin-left: auto;
}
.page-navigator :last-child {
  margin-right: auto;
}
.page-navigator button {
  margin: 0 0.1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.tinkoffPayRow {
  display: block;
  margin: 1%;
  width: 160px;
}

@media screen and (max-width: 768px) {
  table {
    width: 96%;
  }

  th {
    word-break: break-word;
  }
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 2.5rem;
  width: calc(100% - 1rem);
  background-color: #dfdfdf;
  padding: 0 0.5rem;
}

/*# sourceMappingURL=custom.css.map */
