nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar {

  :first-child {
    margin-left: auto;
  }

  :last-child {
    margin-right: auto;
  }

  display: flex;
  flex-direction: row;
  width: 100%;
}