

.modal-head {
  font-weight: bold;
  padding: 0.5rem 0;
  background-color: rgba(42, 88, 133, 0.42);
}

.modal-body {
  padding: 0.5rem;
  background-color: rgba(42, 88, 133, 0.09);
}

.modal-container {
  z-index: 70;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
}

.modal {
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  left: 42%;
  top: 40%;
  margin: auto;
  width: 17em;
  animation: 0.5s modal-popup;
}


@keyframes modal-popup {
  0% {
    top: 0;
  }
  100% {
    top: 40%;
  }
}

@keyframes modal-popup-mobile {
  0% {
    top: 0;
  }
  100% {
    top: 20%;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    animation: 0.5s modal-popup-mobile;
  }
  .modal-container {
    top: 20%;
  }
}